body
{
}
.container1
{
    text-align: center;
    position:relative;
    top:130px;
}
.text
{
    color:#000000;
    font-size:25px;
}
.column{
    float:left;
    width:30%;
    padding:10px;
    height:300px;
}
.row
{
    position:relative;
    top:115px;
}
.row:after
{
    content:"";
    display:table;
    clear:both;
}
.personalfotos
{
    width:200px;
    height:200px;
}
.apiemus {
    margin-bottom: 150px
}