ody
{
}
.Logo {
    width: 460px;
    height: 60px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ae1212;
}

li {
    float: left;
}

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 15px 50px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
.NavigationBar {

}

.tab{
    display : none;
}
.NavigationBar {
    align-content : center;
}
.MainContainer{
    margin-left: 100px;
    margin-right:100px;
}
.Langtapped {
    float: right;
}
.atapped {
    padding: 15px 20px;
}

.Page-Footer {
    font-size: 20px;
    font-family: 'Microsoft YaHei';
}

.Foot-Container {
    text-align: center;
}

.CopyRight {
    align-content: center;
}

.Foot01 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ae1212;
    color: white;
    text-align: center;
}
.applogo {
    width: 105px;
    height: 38px;
    position: absolute;
    margin-left:5px;
}